<!DOCTYPE HTML>
<html>
<head>
	<%= stylesheet_link_tag "home.css" %>
	<%= javascript_include_tag "jquery-1.7.2.js" %>
</head>
<body>
<div class="container">

<a id="Game_Detail" href="game_detail.html"></a>

</div>
</body>
</html>
